
<!doctype html>



<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script>

     document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.slider').slider({    indicators:false,
    interva:1300,
    height:400, duration:500
    });
  });
</script>


{% extends "base.html" %}
{% load staticfiles %}
{% block content %}



      {% include 'searchbar.html' %}
<br><br>

{% for place in lugares %}
    {% if forloop.first %}
        <div class="row">
    {% endif %}
    <div class="col s12 m6 l4">



           <div class="lugar" style=" border-style: solid;
    border-color: white;">


        <div class="slider">
        <ul class="slides">
        <!-------------------->



        {% for f in fotos %}

            {% if f.lugar == place %}

        <li>
        <img src="{{ f.imagen.url }}"> <!-- random image -->
        <div class="caption right-align " >
        <br><br><br><br><br><br><br><br><br><br>
        <h9 class="light grey-text text-lighten-3">

                            {{ f.descripcion }}


        </h9>
        </div>
        </li>
            {% endif %}

{% endfor %}


        <!-------------------->


        </ul>
        </div>


      <div class="info center ">
                    {{ place.nombre }}<br>
                    Precio:{% if place.precio == -100 %}
               Información no disponible
                  {% else %}
          {{ place.precio }}
              {% endif %}<br>
                    Rating:
              {% if place.rating == -100 %}
               Información no disponible
                  {% else %}
                  {{ place.rating }}
              {% endif %}                  <br>

      </div>


      </div>


        </div>
    {% if forloop.counter|divisibleby:3 %}</div>
        <div class="row">{% endif %}
    {% if forloop.last %}</div>{% endif %}
{% endfor %}












{% endblock %}


