
<!doctype html>



<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
<script>


  $(document).ready(function(){

$('.slider').slider({    indicators:false,
    interval:1300,
    height:400, duration:500
    });
  });



</script>


{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
      <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/infinite.min.js' %}"></script>




      {% include 'searchbar.html' %}
<a href="{% url 'lugares:detalle_lugar' placerandom.nombre placerandom.id %}">

    <div class="row  blue lighten-5 black-text">
    <br>
    <div class="col s12 m6">

    <div class="slider ">
        <ul class="slides">
        <!-------------------->



        {% for f in placerandom.imagen_set.all %}


        <li>
        <img src="{{ f.imagen.url }}"> <!-- random image -->
        <div class="caption right-align " >
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h9 class="light grey-text text-lighten-3">

                            {{ f.descripcion }}


        </h9>
        </div>
        </li>

{% endfor %}


        <!-------------------->


        </ul>
        </div>
    <br>

</div>


    <div style="" class="col s12 m6 center  center-align">

    <h3>Te sugerimos:</h3>

        <h2>{{ placerandom.nombre }}</h2><br>

                    Rating:

                 {% if placerandom.rating >= 0 and placerandom.rating < 1.7 %}
                                        &#x2b50;
                                         [{{ placerandom.rating|floatformat:2  }}]<br>

                     {% elif placerandom.rating >= 1.7 and  placerandom.rating < 2.7 %}
                                        &#x2b50;&#x2b50;
                                         [{{ placerandom.rating|floatformat:2  }}]<br>


                     {% elif placerandom.rating >= 2.7 and  placerandom.rating < 3.7 %}
                                        &#x2b50;&#x2b50;&#x2b50;
                                         [{{ placerandom.rating|floatformat:2  }}]<br>


                     {% elif placerandom.rating >= 3.7 and  placerandom.rating < 4.7 %}
                                        &#x2b50;&#x2b50;&#x2b50;&#x2b50;
                                         [{{ placerandom.rating|floatformat:2  }}]<br>

                     {% elif placerandom.rating >= 4.7 and  placerandom.rating <= 5 %}
                                        &#x2b50;&#x2b50;&#x2b50;&#x2b50;&#x2b50;
                                         [{{ placerandom.rating|floatformat:2  }}]<br>


                     {% elif placerandom.rating == -100 %}
                         Información no dismponible
                     {% else %}
                     <span class="error">Error</span>

              {% endif %}

      Precio:{% if placerandom.precio == -100 %}
               Información no disponible
                  {% else %}
          {{ placerandom.precio|floatformat:0  }}
              {% endif %}<br>

      </div>


    </div>
</a>


 <div class="row infinite-container">

    {% for number in numbers %}

            <div class="col s12 m6 l4 infinite-item">


<a href="{% url 'lugares:detalle_lugar' number.nombre number.id %}">
           <div class="lugar" style=" border-style: solid;
    border-color: white;">


        <div class="slider">
        <ul class="slides">
        <!-------------------->



        {% for f in number.imagen_set.all %}

                   {% if f.status  %}

                        <li>
        <img src="{{ f.imagen.url }}"> <!-- random image -->
        <div class="caption right-align " >
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h9 class="light grey-text text-lighten-3">

                            {{ f.descripcion }}


        </h9>
        </div>
        </li>

                   {% endif %}





{% endfor %}


        <!-------------------->


        </ul>
        </div>


      <div class="info center ">
                    {{ number.nombre }}<br>

                    Rating:

                 {% if number.rating >= 0 and number.rating < 1.7 %}
                                        &#x2b50;
                                         [{{ placerandom.rating|floatformat:2  }}]<br>

                     {% elif number.rating >= 1.7 and  number.rating < 2.7 %}
                                        &#x2b50;&#x2b50;
                                         [{{ placerandom.rating|floatformat:2  }}]<br>


                     {% elif number.rating >= 2.7 and  number.rating < 3.7 %}
                                        &#x2b50;&#x2b50;&#x2b50;
                                         [{{ number.rating|floatformat:2  }}]<br>


                     {% elif number.rating >= 3.7 and  number.rating < 4.7 %}
                                        &#x2b50;&#x2b50;&#x2b50;&#x2b50;
                                         [{{ number.rating|floatformat:2  }}]<br>

                     {% elif number.rating >= 4.7 and  number.rating <= 5 %}
                                        &#x2b50;&#x2b50;&#x2b50;&#x2b50;&#x2b50;
                                         [{{ number.rating|floatformat:2  }}]<br>


                     {% elif number.rating == -100 %}
                         Información no dismponible
                     {% else %}
                     <span class="error">Error</span>

              {% endif %}

      Precio:{% if number.precio == -100 %}
               Información no disponible
                  {% else %}
          {{ number.precio|floatformat:0  }}
              {% endif %}<br>

      </div>


      </div>
</a>

        </div>
    {% endfor %}

  </div>

  <div class="loading" style="display: none;">
           <div class="row">

    Loading...

                       </div>

  </div>



  {% if numbers.has_next %}
      <base href="" />
      <a id="infinite-more-link-id" class="infinite-more-link" {% if numbers.has_next %} href="{{ request.get_full_path }}&page={{ numbers.next_page_number }}" {% endif %}>More</a>
  {% endif %}



 <script>


    var infinite = new Waypoint.Infinite({

      element: $('.infinite-container')[0],

      onBeforePageLoad: function () {
          $('.loading').show();


$('.slider').slider({    indicators:false,
    interval:1300,
    height:400, duration:500
    });


      },
      onAfterPageLoad: function ($items) {
          $('.loading').hide();

          $('.slider').slider({    indicators:false,
    interval:1300,
    height:400, duration:500
    });






      }
    });
  </script>


{% endblock %}


