
<!doctype html>



<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script>



  // Or with jQuery

  $(document).ready(function(){
    $('.slider').slider({
    interva:1300,
    height:400, duration:500,indicators:false
    });
  });


</script>


{% extends "base.html" %}
{% load staticfiles %}
{% block content %}



      {% include 'searchbar.html' %}

<div class="slider ">
    <ul class="slides">
      <li>
        <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
            <form action="." method="POST">
    {% csrf_token %}
                <div class="input-field">
                    <input type="text" class="validate" name="{{form.username.html_name}}" id="{{ form.username.id_for_label }}" required/>
                    <label for="{{form.username.id_for_label}}">Usuario</label>
                </div>
                <div class="input-field">
                    <input class="validate" name="password" type="password" name="{{form.password.html_name}}" id="{{ form.password.id_for_label }}" required/>
                    <label for="{{form.password.id_for_label}}">Contraseña</label>
                </div>
                <div class="cta-container">
                    <button class="submit" type="submit">Iniciar Sesión</button>
                </div>
</form>
<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>

          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>






{% endblock %}

