<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <h3>Forgot password</h3>

    <form id="send_password_reset" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

</body>
<script>

    $("#send_password_reset").submit(function( event ) {
        var rawFormElement = this;
        var email = $('#id_email').val();

      event.preventDefault();
      $.ajax({
        url: '/ajax/validar_email/',
        data: {
          'email': email
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_not_taken) {
              alert("El email no existe en nuestro sistema");
          }
          else{
              rawFormElement.submit();
          }
        }
      });


    });

</script>
</html>