{% load static %}
<div class="footer">
  <div class="container">
    <div class="anchors">
      <!--<span>Términos y condiciones</span>-->
      <!--<span>Privacidad</span>-->
    </div>
    <div class="icons">
      <a href="https://www.facebook.com/PlanLibelula/" ><img class="icon" src="{% static 'static_media/facebook-logo.svg' %}" alt="facebook" height="24" width="24"/></a>
      <a href="mailto:admin@planlibelulas"><img class="icon" src="{% static 'static_media/mail.svg' %}" alt="mail" height="24" width="24"/></a>
    </div>
    <span class="small"> Plan Libélula Desarrollo Integral</span>
  </div>
</div>
