<!--MSFT--->
<!doctype html>
<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% include 'navbar.html' %}
<div id="index-banner" class="container full">
         <br><br>
         <h2 class="header center white-text text-lighten-2"> <br><br>Diviertete y conoce tu ciudad</h2>
         <form class="container" method="GET" action="{% url 'lugares:busqueda' %}" >
             {% csrf_token %}
            <div class="row center center-align">
               <div class="input-field col s12 m12 ">
                  <i class="material-icons prefix">location_on</i>
                  <input type="text" required placeholder="Ciudad" id="autocomplete-input" name="city" class="autocomplete">
                  <label for="autocomplete-input"><span class="white-text">Ciudad</span></label>
               </div>
            </div>
               <!--
                  AQUI VA LO QUE HIZE LO PONES BONITO
                  -->
             <div class="row center center-align">
               <div class="input-field col s12 m12 ">
                  <select required multiple id="presupuesto_id" name="presupuesto" class>
                     <option value="" disabled selected class="center-align center">$</option>
                     <option value="1">Quebrado</option>
                     <option value="2">Normal</option>
                     <option value="3">Freson</option>
                     <option value="4">Mirrey</option>
                  </select>
                  <label class="white-text">¿Qué tan corto andas?</label>
               </div>
             </div>





               <!--
                  AQUI VA LO QUE HIZE LO PONES BONITO
                  -->
             <div class="row center center-align">
               <div class="input-field col s12 m12 ">
                  <button class="btn waves-effect waves-light black" type="submit" name="action">Buscar
                  <i class="material-icons right">search</i>
                  </button>
               </div>
            </div>
            <!--->
               <div class="row center">
                   <div class="col s12 m12 l12" id="status">

                   </div>
               </div>





               <!--ROW-->
            <!--ROW-->
         </form>
         <br><br>



</div>

<div class="container">
      <div class="row">
         <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>De Jodido</h4>
            <p class="center-align light">A diferencia de las actuales plataformas de viajes, </p>
         </div>
      </div>
</div>

<div class="container">
      <div class="row">
         <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>De Jodido</h4>
            <p class="center-align light">A diferencia de las actuales plataformas de viajes, </p>
         </div>
      </div>
</div>

<div class="container">
      <div class="row">
         <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>De Jodido</h4>
            <p class="center-align light">A diferencia de las actuales plataformas de viajes, </p>
         </div>
      </div>
</div>

<div class="container">
      <div class="row">
         <div class="col s12 center">
            <h3><i class="mdi-content-send brown-text"></i></h3>
            <h4>De Jodido</h4>
            <p class="center-align light">A diferencia de las actuales plataformas de viajes, </p>
         </div>
      </div>
</div>
{% endblock %}


