<!--MSFT--->
<!doctype html>

<h3 >Log de versiones DeJodido.com</h3>
<ul>
    <li>V. 0.1 (Alpha) Release date: 15 July 2018</li>
    <li>V. 0.1.1 (Alpha) Release date: 26 July 2018</li>
    <ul>
        <li>Fix UX/UI bugs</li>
    </ul>
    <li>V. 0.1.2 (Alpha) Release date: 27 July 2018</li>
    <ul>
        <li>Improvement in searching algorithm</li>
    </ul>
    <li>V. 0.1.2 (Alpha) Release date: 29 July 2018</li>
    <ul>
        <li>Improvement UX/UI design and detailed info</li>
    </ul>

</ul>
