


<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Circles</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body >
  <br><br>





<p>Número de lugares: {{ n }}</p>
  <ul>
      <li><a href="/admin">Admin Django</a> </li>
      <li><a href="{% url 'sm:lugares' %}">Admin Lugares</a> </li>
  </ul>

  {% if comandos %}

  <table style="width:100%">
  <tr>
    <th>command</th>
    <th>result</th>
    <th>logfile</th>
  </tr>
      {% for i in comandos %}
          <tr>
    <td class="executed">{{ i.lat }}|{{ i.lng }}|{{ i.keyword }}|{{ i.city }}|{{ i.state }}|{{ i.country }}</td>
    <td>{{ i.status_exec }}</td>
    <td><a href="{% url 'sm:log' i.id %}" >{{ i.log_file_path }}</a> </td>
  </tr>





      {% endfor %}


</table>

  {% else %}
      <p>No comandos</p>

  {% endif %}
<br><br>
  <form id="newCommand" method="post" action="{% url 'sm:consola' %}" >
      {% csrf_token %}
  <label for="lat">lat:</label><input class="comInput" value="20.592996" type="number" id="lat" name="lat"><br>
  <label for="lng">lng:</label><input class="comInput" value="-100.3918293" type="number" id="lng" name="lng"><br>
  <label for="keyword">keyword:</label><input class="comInput" value="bar" type="text" id="keyword" name="keyword"><br>
  <label for="city">city:</label><input class="comInput" value="Santiago de Querétaro" type="text" id="city" name="city"><br>
  <label for="state">state:</label><input class="comInput" value="Querétaro" type="text" id="state" name="state"><br>
  <label for="country">country:</label><input class="comInput" value="México" type="text" id="country" name="country"><br>
  <input type="submit" value="Submit">
  </form>
    <div id="map"></div>
    <script>
      // This example creates circles on the map, representing populations in North
      // America.

      // First, create an object containing LatLng and population for each city.
      var citymap = {

      {% for c in comandos %}
          {% if c.status_exec == True %}
          {{ c.id }}: {
                    center: {
                        lat: {{ c.lat }},
                        lng: {{ c.lng }}
                            },
                    ciudad: "{{ c.city }}",
                    estado: "{{ c.state }}",
                    pais: "{{ c.country }}",
                    keyword: "{{ c.keyword }}",
                    posibles:{},

        },
          {% endif %}

      {% endfor %}
      };


function getCors(lat_x,lon_x,degrees){


var brng = degrees_to_radians(degrees);
var d = 5 // Distance in km
var lat1 = degrees_to_radians(lat_x) //#Current lat point converted to radians
var lon1 = degrees_to_radians(lon_x) //#Current long point converted to radians

var lat2 = Math.asin( Math.sin(lat1)*Math.cos(d/R) +
     Math.cos(lat1)*Math.sin(d/R)*Math.cos(brng))

var lon2 = lon1 + Math.atan2(Math.sin(brng)*Math.sin(d/R)*Math.cos(lat1),
             Math.cos(d/R)-Math.sin(lat1)*Math.sin(lat2))

var lat2 = radians_to_degrees(lat2)
var lon2 = radians_to_degrees(lon2)
  // console.log(lat2)
  // console.log(lon2)
  return [lat2, lon2]
}
function degrees_to_radians(degrees)
{
  var pi = Math.PI;
  return degrees * (pi/180);
}

function radians_to_degrees(radians)
{
  var pi = Math.PI;
  return radians * (180/pi);
}



const R = 6378.1 ;


var pointPosible={}

      for (var k in citymap){

          var d=0
          for( d=0; d<360; d+=60){

              var firstEval = getCors(citymap[k].center.lat, citymap[k].center.lng, parseInt(d))

              var second = (getCors(firstEval[0], firstEval[1], parseInt(d)+60))

              citymap[k]["posibles"][k.toString()+"-"+d.toString()]={
                  center:{
                      lat:second[0],
                      lng:second[1]
                  }
              }
              pointPosible[k.toString()+"-"+d.toString()]=citymap[k]["posibles"][k.toString()+"-"+d.toString()]

          }



      }

/*
      var posible ={
           n: {
          center: { lat: 20.660365061593655, lng:-100.3502573183909 }
        },
          s: {
          center: {

              lat: 20.637902091385058

, lng:-100.3918354307636 }
        },



      }

 */


      function initMap() {
        // Create the map.
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: {lat: 20.5924074, lng: -100.3788854},
          mapTypeId: 'roadmap'
        });

        // Construct the circle for each value in citymap.
        // Note: We scale the area of the circle based on the population.


        for (var city in citymap) {
          // Add the circle for this city to the map.

          var cityCircle = new google.maps.Circle({
            strokeColor: '#59ff00',
            strokeOpacity: 1,
            strokeWeight: 1,
            fillColor: '#568e41',
            fillOpacity: 0.1,
            map: map,
            center: citymap[city].center,
            radius: 5000,
              draggable: true,
          geodesic: true,
              d: citymap[city].ciudad+citymap[city].estado+citymap[city].pais+citymap[city].keyword

          });






        }

        for  (var p in pointPosible){
             var cc = new google.maps.Circle({
            strokeColor: '#4c89ff',
            strokeOpacity: 1,
            strokeWeight: 1,
            fillColor: '#65c6ff',
            fillOpacity: 0.2,
            map: map,
            center: pointPosible[p].center,
            radius: 5000,
 draggable: true,
          geodesic: true

          });



          google.maps.event.addListener(cc, 'dragend', function() {
              window.alert(cc.center.toString())
          });

        }


      }

    </script>


  <script>

      function JaroWrinker(s1, s2) {
        var m = 0;

        // Exit early if either are empty.
        if ( s1.length === 0 || s2.length === 0 ) {
            return 0;
        }

        // Exit early if they're an exact match.
        if ( s1 === s2 ) {
            return 1;
        }

        var range     = (Math.floor(Math.max(s1.length, s2.length) / 2)) - 1,
            s1Matches = new Array(s1.length),
            s2Matches = new Array(s2.length);

        for ( i = 0; i < s1.length; i++ ) {
            var low  = (i >= range) ? i - range : 0,
                high = (i + range <= s2.length) ? (i + range) : (s2.length - 1);

            for ( j = low; j <= high; j++ ) {
            if ( s1Matches[i] !== true && s2Matches[j] !== true && s1[i] === s2[j] ) {
                ++m;
                s1Matches[i] = s2Matches[j] = true;
                break;
            }
            }
        }

        // Exit early if no matches were found.
        if ( m === 0 ) {
            return 0;
        }

        // Count the transpositions.
        var k = n_trans = 0;

        for ( i = 0; i < s1.length; i++ ) {
            if ( s1Matches[i] === true ) {
            for ( j = k; j < s2.length; j++ ) {
                if ( s2Matches[j] === true ) {
                k = j + 1;
                break;
                }
            }

            if ( s1[i] !== s2[j] ) {
                ++n_trans;
            }
            }
        }

        var weight = (m / s1.length + m / s2.length + (m - (n_trans / 2)) / m) / 3,
            l      = 0,
            p      = 0.1;

        if ( weight > 0.7 ) {
            while ( s1[l] === s2[l] && l < 4 ) {
            ++l;
            }

            weight = weight + l * p * (1 - weight);
        }

        return weight;
      }
      const form  = document.getElementById('newCommand');




form.addEventListener('submit', function (event) {
  // if the email field is valid, we let the form submit

        var commands_html = document.getElementsByClassName("executed");
   var newcom_html = document.getElementsByClassName("comInput");
   var commands =[];
   var i=0;
   for (i=0; i< commands_html.length; i++){
       commands.push(commands_html[i].innerHTML)
   }
   var newcom = [];
   for (i=0; i< newcom_html.length; i++){
       newcom.push(newcom_html[i].value)
   }
   newcom=newcom.join('|')

      var i = 0;
      var ratio = 0;
      var posibleAns=[];
      var pass = true;

      for (i=0; i<commands.length; i++){
           ratio = JaroWrinker(commands[i], newcom);
           if (ratio > .9){
               posibleAns.push(commands)
               pass = false;

           }
      }

        if(!(pass)) {
        // If it isn't, we display an appropriate error message

        // Then we prevent the form from being sent by canceling the event

        posibleAns=posibleAns.join("\n\n");
        var answer = window.confirm("¿Ejecutar?\n"+posibleAns)
        if (answer) {


        }
        else {
            event.preventDefault();
        }



        }

});



  </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap">
    </script>
  </body>
</html>