


<!doctype html>



{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="row">

{% for i in imagenes %}

  <div class="col s4">


    <img src="{{ i.imagen.url }}" style="height: 200px; width: auto">
      <br>
    {{ i.status }}
      <br>
    {{ i.imagen.url }}
      <br>
    <a class="waves-effect waves-light btn">true</a>
    <a class="waves-effect waves-light btn">False</a>
    <a class="waves-effect waves-light btn">Delete</a>



    </div>
{% endfor %}


</div>



{% endblock %}


