
<!doctype html>
{% load staticfiles %}

 <!DOCTYPE html>
<html lang="en">
<head>

 <!-- Compiled and minified CSS -->

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link   href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="{% static 'css/style.css' %}"type="text/css" rel="stylesheet" media="screen,projection"/>
      <script src="{% static 'js/init.js' %}"></script>



</head>
<body>

<div id="accessmodal" class="modal modal-fixed-footer">
          <div class="modal-content">
            <h4 class="center-align">DeJodido</h4>
            <p class="center-align ">De Jodido invita a un consumo y habitos responsables de vida</p>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="36KRU2JD2QCYJ">
<input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
<img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
</form>

          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-red btn-flat" id="enterado">Enterado</a>
          </div>
        </div>


  {% block content %}

  {% endblock %}
{% include 'footer.html' %}


  <!--  Scripts-->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


  </body>
</html>
