
<!doctype html>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>


<script type="text/javascript">

    var nav = null;

    function requestPosition() {
        if (nav == null) {
            nav = window.navigator;
        }

        var geoloc = nav.geolocation;
        if (geoloc != null) {
            geoloc.getCurrentPosition(successCallback, errorCallback);
        }

    }

    function successCallback(position) {
        document.getElementById("latitude").value =
            position.coords.latitude;
        document.getElementById("longitude").value =
            position.coords.longitude;

    }

    function errorCallback(error) {
        var strMessage = "";

        // Check for known errors
        switch (error.code) {
            case error.PERMISSION_DENIED:
                strMessage = "Access to your location is turned off. "  +
                    "Change your settings to turn it back on.";
                break;
            case error.POSITION_UNAVAILABLE:
                strMessage = "Data from location services is " +
                    "currently unavailable.";
                break;
            case error.TIMEOUT:
                strMessage = "Location could not be determined " +
                    "within a specified timeout period.";
                break;
            default:
                break;
        }

        document.getElementById("status").innerHTML = strMessage;
    }

</script>

 <div class="navbar-fixed">

<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
        <li><a href="#"><i class="material-icons">refresh</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
  </div>




    <container>
        <br>

<form class="container flex" method="POST" enctype="multipart/form-data"  action="">
  {% csrf_token %}
        <div class="row">
        <div class="input-field col s12 m6 l6">
                          <i class="material-icons prefix">attach_money</i>
          <input id="presupuesto" type="number" class="validate" value="1">
          <label for="presupuesto">Presupuesto</label>
        </div>

            <div class="input-field col s12 m6 l6">
                                          <i class="material-icons prefix">place</i>


          <input id="lugar" type="text" class="validate" value="Querétaro" >
          <label for="lugar">Lugar</label>
        </div>
        </div>

    <div class="row">

        <div class="input-field col s12 m6 l6">
                                      <i class="material-icons prefix">border_vertical</i>

          <input id="latitude" type="text" class="validate" value="20.5923144" >
          <label for="latitude">Latitud</label>
        </div>

            <div class="input-field col s12 m6 l6">
                          <i class="material-icons prefix">border_horizontal</i>

          <input id="longitude" type="text" class="validate" value="-100.3878238" >
          <label for="longitude">Longitud</label>
        </div>
        </div>
    <div class="row">
                <div class="col s12 m12 l12" id="status"></div>

    </div>
    <div class="row">
                <div class="col s12 m12 l12" >



  <button class="btn waves-effect waves-light" type="submit" name="action" onclick="requestPosition()">Usar mi ubicación
    <i class="material-icons right">my_location</i>
  </button>



</div>
    </div>

    <div class="row">
        <div class="input-field col s12 m12 l12">
                                      <i class="material-icons prefix">wifi_tethering</i>


          <input id="Radio" type="text" class="validate" required value="100" >
          <label for="Radio"></label>
        </div>
    </div>

<div class="row">
        <div class="input-field col s12 m12 l12">



  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

        </div>
    </div>







</form>


            </container>


{% endblock %}

