
<!doctype html>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<script>

  $(function() {
    $("#city").autocomplete({
      source: "/listaciudades",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }

  </script>


<script type="text/javascript">

    var nav = null;

    function requestPosition() {
        if (nav == null) {
            nav = window.navigator;
        }

        var geoloc = nav.geolocation;
        if (geoloc != null) {
            geoloc.getCurrentPosition(successCallback, errorCallback);
        }

    }

    function successCallback(position) {
        document.getElementById("latitude").value =
            position.coords.latitude;
        document.getElementById("longitude").value =
            position.coords.longitude;

    }

    function errorCallback(error) {
        var strMessage = "";

        // Check for known errors
        switch (error.code) {
            case error.PERMISSION_DENIED:
                strMessage = "Access to your location is turned off. "  +
                    "Change your settings to turn it back on.";
                break;
            case error.POSITION_UNAVAILABLE:
                strMessage = "Data from location services is " +
                    "currently unavailable.";
                break;
            case error.TIMEOUT:
                strMessage = "Location could not be determined " +
                    "within a specified timeout period.";
                break;
            default:
                break;
        }

        document.getElementById("status").innerHTML = strMessage;
    }

</script>




    <container>

        {{ error }}


<form  method="POST" enctype="multipart/form-data" >
  {% csrf_token %}



<div class="ui-widget" id="loc">
   <label for="city">Ciudad: </label>
  <input name="city"  id="city" >
</div>




<div>
    <label>Usar Ubicación Actual</label>
        <input type="checkbox" id="chk" onclick="requestPosition()" />
</div>





          <input id="latitude" name="latitude" type="text"    >
          <input id="longitude" name="longitude" type="text"  >



    <div>
                <div  id="status"></div>
    </div>



<div>
      <button type="submit">Buscar</button>
</div>
</form>
    </container>





<script>
    $(function() {

      var checkbox = $("#chk");
      var hidden1 = $("#loc");


      checkbox.change(function() {
        // Check to see if the checkbox is checked.
        // If it is, show the fields and populate the input.
        // If not, hide the fields.
        if (checkbox.is(':checked')) {
          // Show the hidden fields.
          hidden1.hide();
          // Populate the input.

        } else {
          // Make sure that the hidden fields are indeed
          // hidden.
          hidden1.show();


          // You may also want to clear the value of the
          // hidden fields here. Just in case somebody
          // shows the fields, enters data to them and then
          // unticks the checkbox.
          //
          // This would do the job:
          //
          // $("#hidden_field").val("");
        }
      });
    });


  </script>

{% endblock %}

