
<!doctype html>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}



    <container>

        <ul>

    {% for Lugar in lista %}

            <li> {{Lugar.nombre}} </li>
                <ul>
                    <li>{{Lugar.nombre}}</li>
                    <li>{{Lugar.direccion}}</li>
                    <li>{{Lugar.rating}}</li>
                </ul>
    {% empty %}
    <li>No hay jugadoras registradas aun.</li>
    {% endfor %}
            </ul>

    </container>





{% endblock %}

